In [2]:
import pandas as pd
import os


df1 = ["instant","dteday","season","temp","hum","windspeed"]

df = pd.read_csv('../Data/hour.csv', index_col=["instant","dteday","season","temp","hum","windspeed"], usecols=df1, sep=',' )

df.to_csv('../Data/latihan01.csv')
df.head()

Empty DataFrame
Columns: []
Index: [(1, 2011-01-01, 1, 0.24, 0.81, 0.0), (2, 2011-01-01, 1, 0.22, 0.8, 0.0), (3, 2011-01-01, 1, 0.22, 0.8, 0.0), (4, 2011-01-01, 1, 0.24, 0.75, 0.0), (5, 2011-01-01, 1, 0.24, 0.75, 0.0)]